<!-- views/sasskia.ejs -->

<!DOCTYPE html>
<html lang="en" class="sasskia">
<head>
    <% include ./partials/head %>
</head>
<body class="sasskia">
   <header>
      <% include ./partials/header %>
   </header>
      <div class="sasskia-head">
         <div class="sasskia-head-img">
         </div>
         <h1 class="">Sasskia</h1>
         <p>A web page served using Node.js and stylled with SASS</p>
      </div>
      <div class="container sasskia-content">
         <div class="sasskia-about">
            <h1 class="sasskia-text">Sasskia, SASS served with sass</h1>
            <h2 class="sasskia-text">Sasskia, SASS served with sass</h2>
            <h3 class="sasskia-text">Sasskia, SASS served with sass</h3>
            <h4 class="sasskia-text">Sasskia, SASS served with sass</h4>
            <h5 class="sasskia-text">Sasskia, SASS served with sass</h5>
            <h6 class="sasskia-text">Sasskia, SASS served with sass</h6>
            <button type="button" class="btn-lg sasskia-btn">SASSy</button>
         </div>
      </div>
   <footer>
        <% include ./partials/footer %>
   </footer>
</body>
</html>